<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-route.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="ContentController">

    
<ion-side-menus>
  <!-- Center content -->
    <ion-side-menu-content>
        <!--<div class="bar bar-header bar-dark">
            <button ng-click="toggleLeft()" class="button icon ion-navicon"></button>
            <h1 class="title">selected-menu {{$selected}}</h1>
        </div>-->
        
        <ion-header-bar align-title="center" class="bar-light header-menu">
            <div class="buttons button-menu">
                <div ng-click="toggleLeft()" class="icon ion-navicon"></div>
            </div>
            <h1 class="title">{{items[$selected].label}}</h1>
        <!--<div class="buttons">
            <button class="button">Right Button</button>
        </div>-->
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col">1</div>
                <div class="col">2</div>
                <div class="col">3</div>
            </div>
            <div class="row">
                <div class="col">Some content!</div>
            </div>
            <div class="row">
                <div class="col">
                    <div ng-view></div>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" class="side-menu">
    <ion-list>
        <ion-item ng-repeat="item in items" ng-click="toggleLeft($index)" class="pointer item-menu">
            <a class="link" ng-class="{active: $index==$selected}" href="{{item.anchor}}">{{item.label}}</a>
        </ion-item>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>
      
  </body>
</html>
