<div class="row" ng-show="!api.showDescNews">
    <div class="col">
        <ion-list>
            <ion-item ng-repeat="d in downloadList" ng-click="onclick(d)">         
            	<strong>       
                <p ng-hide="lang==it" ng-bind="d.titolo_ita" class="download-list"></p>
                <p ng-hide="lang==en" ng-bind="d.titolo_eng" class="download-list"></p>
                </strong>
            </ion-item>
        </ion-list>
    </div>
</div>

<div class="row" ng-show="api.showDescNews">
    <div class="col">
        <ion-list>
            <ion-item>  
                <p ng-hide="lang==it" ng-bind="pdf.titolo_ita" class="download-list"></p>
                <p ng-hide="lang==en" ng-bind="pdf.titolo_eng" class="download-list"></p>
            </ion-item>
            <ion-item ng-repeat="d in pdfDoc">         
            	<strong class="row">
                    <div class="col col-90">
                    <p ng-hide="lang==it" ng-click="openPdf(d.url_ita)" ng-bind="d.nome_ita" class="download-list"></p>
                    <p ng-hide="lang==en" ng-click="openPdf(d.url_eng)" ng-bind="d.nome_eng" class="download-list"></p>
                    </div>
                    <div class="col col-10">
                        <a ng-hide="lang==it" ng-click="openPdf(d.url_ita)" class="menu-home-link"><div class="ion-document icon"></div></a>
                        <a ng-hide="lang==en" ng-click="openPdf(d.url_eng)" class="menu-home-link"><div class="ion-document icon"></div></a>
                    </div>
                    
                </strong>
            </ion-item>
        </ion-list>
    </div>
</div>
