<ion-side-menus>
  <!-- Center content -->
    <ion-side-menu-content>
        <!--<div class="bar bar-header bar-dark">
            <button ng-click="toggleLeft()" class="button icon ion-navicon"></button>
            <h1 class="title">selected-menu {{$selected}}</h1>
        </div>-->
        
        <ion-header-bar align-title="center" class="bar-light header-menu">
            <div class="buttons button-menu">
                <div ng-click="toggleLeft()" class="icon ion-navicon icon-menu"></div>
            </div>
            <div ng-click="api.back=false;api.showDescNews=false;" ng-show="api.back">Indietro</div>
            <h1 class="title">{{items[$selected].label}}</h1>
        <!--<div class="buttons">
            <button class="button">Right Button</button>
        </div>-->
        </ion-header-bar>
        <ion-content>
           
            <div class="row adapt">
                <div class="col adapt">
                    <div ui-view="view2">content</div>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left" class="side-menu">
    <ion-list>
        <ion-item ng-repeat="item in items" class="pointer item-menu">
            <a class="link" ng-click="toggleLeft()" ng-class="{active: $index==$selected}" ui-sref="{{item.anchor}}">{{item.label}}</a>
        </ion-item>
    </ion-list>
  </ion-side-menu>
</ion-side-menus>

