a {text-decoration: none;}
.circle {
	position: relative;
	height: 50px;
	width: 50px;
	text-align: center;
	right: 20px;
	background: #7ABEB1;
	margin-top: -30px;
}
.circle h6{
	margin-top: 15px;
	font-size: 16px;
}
#slideshow img {
	border-top: 3px solid #7ABEB1;
}
#news_bar {
	height: 130px;
	margin-top: -10px;
	display: block;
}
#news_bar .news-title {
	margin-top: 14px;
	color: #7ABEB1;
}
#news_bar .news-text {
	font-size: 18px;
}
#news_bar #last_news {
	padding-left: 20px;
	border-bottom: 1px solid #7ABEB1;
}
#arrow_dx {
	background: #E8E8E8;
	float: right;
	position: relative;
	top: -110px;
	z-index: -1;
	height: 110px;
}
#arrow_dx .icon{
	margin-top: 38px;
}
.icon-lightblue{
	margin-top: -50px;
}

.menu-home-link {
	color: #7ABEB1;
} 
.logo {
	display: block;
	margin-left: -65px;
	height: 70px;
	position: relative;
	top: 8px;
}
ion-header-bar{
	border-bottom: 2px solid  #39B3B8 !important; 
}

ion-header-bar.bar h1.title {
	color: #A6BD75 !important;
	font-size: 30px !important;
	width: 70%;
	margin-top: 4px;
	margin-left: 50px;
}
.button-menu {
	margin-left: 0px;
	width: 70px;
	background: #A6BD75;
	z-index: 999999;
}
.button-menu .icon{
	width: 70px;
	margin-top: 5px;
	color: #fff;
}
.tab {
	border-color: #39B3B8 !important;
	height: 70px;
}
.first-tab {
	border-color: #39B3B8 !important;
}

p strong {
	color: #39B3B8 !important;
	font-size: 20px;
}
strong p  {
	color: #39B3B8 !important;
	font-size: 20px;
}


#gallery .col {
	color: #39B3B8 !important;
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
	height: 40px;
	line-height: 30px;
	background: url(../img/galleria.png) no-repeat 12px center;
	background-size: 30px;
	text-decoration: none;
}
.menu-left {
	background: #A6BD75;
}
.menu-left .item{
	background: #A6BD75;
	padding: 0;
}
.list .link {
	width: 100%;
	display: block;
	padding: 16px;
}

.tabs-chisiamo img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 15px;
	height: 25px;
}

.list .notiziaBold{
	color: #999999 !important;
	font-weight: normal;
}
.list .item p{
	font-size: 20px !important;
	white-space: normal !important;
}
.list .item{
border-left: 0;
border-right: 0;
border-color: #39B3B8;
}
.list .item:first-child{
border-top: none;
}

.menu-left .list .item{
	border-color: #fff;
}

.back_btn {
	background: url(../img/back_btn.jpg) no-repeat center center #75C2B0;
	text-indent: -9999px;
	width: 50px;
	background-size: 20px;
}
.vaiAllaMappa{
	color: #39B3B8 !important;
	font-size: 20px;
	font-weight: bold;
	padding-left: 50px;
	height: 40px;
	line-height: 30px;
	background: url(../img/mappa.png) no-repeat 12px center;
	background-size: 30px;
	text-transform: uppercase;
}